<!doctype html>
<html lang="en">
  <head>
    {% include 'headInclude.html' %}
  </head>
  <body>
		<!-- Navbar -->
		{% include 'navbar.html' %}
		<!-- Navbar Ends -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="text-center mx-auto mt-4 mb-4">Message not found</h1>
                    <p class="text-center mx-auto mt-4 mb-2"><i class="fas fa-times-circle fa-7x"></i></p>
                    <p class="text-center mx-auto mt-4 mb-2">You're trying to access a message which either doesn't exist or has been deleted.</p>
                    <a href="{{ url_for('hello_world')}}" class="btn btn-outline-warning btn-lg btn-block mx-auto mt-4 mb-2">Click here create your own secret message</a>
				</div>
			</div>
            <!-- Modal -->
            {% include 'modal.html' %}
            <!-- Modal Ends -->
		</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/clipboard.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
		$(function () {
			$("[rel='tooltip']").tooltip();
		});
        new ClipboardJS('.btn');
		</script>
  </body>
</html>