<!DOCTYPE html>
<html>
    <head>
        <title>
            Post
        </title>
    </head>
    <body>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend></legend>
                <div class="form-group">
                    {{form.name.label}} {{form.name}}
                    {{form.code.label}} {{form.code}}
                </div>
            </fieldset>
            <div>
                {{form.submit}}
            </div>
        </form>
    </body>
</html>